<h1> Add Book </h1>

<form action="/create" method="post">

<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <p>
    <label for="name_of_book" class="form-label">Name of Book</label>
    <input name="name_of_book" id="name_of_book">
  </p>

  <p>
    <label for="author_of_book" class="form-label">Author of Book</label>
    <input name="author_of_book" id="author_of_book">
  </p>

  <p>
    <label for="year_book_was_published" class="form-label">Year Book was Published</label>
    <input name="year_book_was_published" id="year_book_was_published">
  </p>

  <p>
    <input type="submit" value="Create Book" class="form-button">
  </p>

</form>