/*
 *= require_tree .
 *= require_self
 */

html, body {
    background: #E2C18B;
}

header {
    background: #4F7178;
}

a.brand {
    color: #E4AF8E;
    font-size: 2em;
    text-decoration: none;
    /*background: E4AF8E;*/
}

main .container-inner {
    background: #F2DEBD;
}

.container-inner {
    margin: auto;
    width: 960px;
    padding: 1em;
}

.attributes {
    overflow: auto;
}

.form-label {
    display: inline-block;
    width: 190px;
}

.form-button {
    margin-left: 105px;
}

.attributes > dt {
    clear: left;
    display: block;
    float: left;
    width: 100px;
    padding-bottom: 1em;
    font-weight: bold;
}

.attributes > dt:after {
    content: ':';
}

.attributes > dd {
    float: left;
}

.actions {
    float: right;
    font-size: 1.5em;
    margin-top: 1em;
}

.actions form.delete-form {
    display: inline-block;
}

.table-standard {
    border: 1px solid #ccc;
    width: 100%;
}

.table-standard td, .table-standard th {
    padding: .5em;
    border: 1px solid #4F7178;
}