<!DOCTYPE html>
<html>
<head>
  <title>RailsCrudBooksApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container-inner">
    <a class="brand" href="/books">Rails Book App</a>
  </div>
</header>
<main>
  <div class="container-inner">
    <%= yield %>
  </div>
</main>
</body>
</html>
